body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 15px; /* Abgerundete Ecken */
    margin: 10px; /* Platz um den Header herum */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    border-radius: 5px;
    background-color: white;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-family: fantasy;
    padding: 1rem;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

#rules ul {
    list-style: none;
    padding: 0;
}

#rules ul li {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table, th, td {
    border: 1px solid #ff9d9d;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #ff5252;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem; /* Platz oberhalb des Footers */
}

@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }
}
